*{padding: 0;
    margin: 0;
    box-sizing: border-box;



}

.main-heading{width: 100%;
             float: left;


}

.text-center h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.about-s h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.about-s h1 span {
    color: #3cd03c;
    margin-left: 15px;
}



.text-center h1 span {
    color: #3cd03c;
}

.big-box{width: 100%;
         float: left;


}

.sm-box {
    width: 100%;
    padding: 40px;
    text-align: center;
    background: #8080802b;
    border-radius: 5px;
    position: relative;
}


.sm-box h2 {
    font-size: 20px;
    text-transform:uppercase ;
}

.sm-box p {
    font-size: 14px;
}


.sm-box a {
    color: #3cd03c;
    text-decoration: underline;
    font-size: 18px;
    text-transform: uppercase;
}

.gol {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: darkgoldenrod;
    border-radius: 50%;
    position: absolute;
    top: -26px;
    left: 138px;
    line-height: 46px;
}

.about {
    width: 100%;
    float: left;
    background: #8080801f;
}

.about-s {
    width: 100%;
    float: left;
}

.text-left{width: 100%;
    padding: 40px;


}
.read{
    padding-top: 20px;


}

.read a {
    padding: 10px 40px;
    background: darkgoldenrod;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    text-align: center;
}

.img-1 {
    width: 100%;
    float: right;
}

.img-1 img{width: 100%;}
